.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: #6c6c6c;
}

.title {
  margin-bottom: 2rem;
  font-size: 3rem;
  color: #333;
}

.weatherCard {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  text-align: center;
  background-color: #f0f8ff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
}

.cityName {
  margin: 0 0 1rem;
  font-size: 2.5rem;
  color: #1e90ff;
}

.weatherInfo {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.weatherIcon {
  font-size: 5rem;
}

.temperature {
  font-size: 4rem;
  font-weight: bold;
  color: #333;
}

.details {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
}

.details > p {
  margin: 0.5rem 0;
}
